<div
  class="sticky flex justify-between px-24 py-4 bg-slate-900 border-b-4 border-slate-800"
>
  <a
    routerLink="home-route"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <h1 class="text-3xl font-bold text-orange-500">Minsky</h1>
  </a>
  <div class="flex gap-4 items-center">
    <a
      routerLink="docs-route"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Docs</a
    >
    <a
      routerLink="tutorials-route"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Tutorials</a
    >
  </div>
  <div class="flex items-center gap-4">Settings</div>
</div>

<router-outlet></router-outlet>
